/**********tablet*************/
@media(max-width:888px){
    main{
        width: 90%;
    }
    input,select,label{
       
        width: 300px;
        max-width:300px ;
    }
}
@media(max-width:768px){
    main{
        margin-top: 75px;
        height: 1100px;
        margin-bottom: 30px;
        /*justify-content: space-evenly;*/
    }
    #jogo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #div-jogo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left:none;
        padding: 0px 0px 0px 0px;
        
    }
    #div-jogador{
        width: 100%;
    }
    .flex-left{
        display: flex;
        flex-direction: column;
        justify-content: left ;
        
        align-content: left;
    }
    #l-input-numero{
        white-space: nowrap;
        text-align: left;
    }
}